.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.parag1 {
    background-color: red;
    width: 50%;
    z-index: 1;
}

.parag2 {
    background-color: green;
    width: 50%;
    z-index: 1;
}

.overlay {
    z-index: 2;
    width: 100%;
    position: absolute;
    transition: all .5s;
}